<%= form_with(model: entity) do |form| %>
  <% if entity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entity.errors.count, "error") %> prohibited this entity from being saved:</h2>
      <ul>
        <% entity.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mb-3">
    <%= form.label :name %>
    <%= form.text_field :name, required: true %>
  </div>
  <div class="mb-3">
    <%= form.label :amount %>
    <%= form.number_field :amount, required: true %>
  </div>
  <div class="mb-3">
    <%= form.label :group_ids %>
    <%= form.collection_select :group_ids, current_user.groups.order(:name), :id, :name, {}, { class: "input", multiple: true } %>
  </div>
</div>
<%= hidden_field_tag 'text_field', current_user.id  %>
<%= hidden_field_tag 'text_field', nil  %>

  <%= button_to "New", {action: "create"}, { class:"btn btn-success new-spense" }  %>

<% end %>
