<p id="notice"><%= notice %></p>
<h1>Spenses</h1>
<% current_user.groups.each do |group|%>
  <br>
  <h6> <%= group.name %> </h6>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Spense</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>
    <tbody>
      <% group.entities.each do |e| %>
        <div class="new-table">
          <tr >
            <th scope="row"><%= e.name %></th>
            <td><%= e.amount %>$ </td>
          </tr>
        </div>
      <% end %>
    </tbody>
  </table>
<% end %>
<br>
<%= link_to 'New Spense', new_entity_path, class: "btn btn-success" %>
<%= link_to 'back', new_entity_path, class: "btn btn-danger" %>
